<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <ion-title class="title" size="large">S APP</ion-title>
    <p class="subtitle">Formulario Creación de cuenta</p>
  </div>
  <form [formGroup]="ionicForm" novalidate>
    <div class="ion-padding">
      <ion-item >
        <ion-input class="input" formControlName="fullname" placeholder="Nombre Completo" />
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['fullname'].touched && this.ionicForm.controls?.['fullname'].invalid">
        <ion-text *ngIf="errorControl.fullname.errors?.required" class="errorInput" color="danger">Debe ingresar su nombre completo.</ion-text>
      </div>
      <ion-item>
        <ion-input class="input" formControlName="email" placeholder="email" />
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Debe Ingresar Email.</ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Porfavor Ingresar Email.</ion-text>
      </div>
      <ion-item>
        <ion-input class="input" type="password" formControlName="password" placeholder="password" />
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Debe Ingresar Contraseña
          .</ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput" color="danger">Contraseña tiene que ser de 8 caracteres
          al menos una Letra.
          al menos una Mayuscula.
          al menos una Número.
        </ion-text>
      </div>
      <ion-item>
        <ion-input class="input" type="numeric" formControlName="contact" placeholder="contact" />
        <ion-icon slot="end" name="call-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['contact'].touched && this.ionicForm.controls?.['contact'].invalid">
        <ion-text *ngIf="errorControl.contact.errors?.required" class="errorInput" color="danger">Debe ingresar su número de contacto 
          ..</ion-text>
          <ion-text *ngIf="errorControl.contact.errors?.pattern" class="errorInput" color="danger">Número de teléfono debe contener solo números..</ion-text>
          <ion-text *ngIf="errorControl.contact.errors?.minlength" class="errorInput" color="danger">Número de contacto debe tener al menos 10 digitos..</ion-text>
    
        </div>
      <p></p>
      
    <ion-button color="light" (click)='this.signUpWithGoogle()'>
      <ion-icon src="assets/icon/google.svg"></ion-icon>
      <ion-text>Ingresar con Google</ion-text>
    </ion-button>

      <div class="loginLink">
        <p class="p">Usuario ya registrado <a [routerLink]="['/login']" style="color: #FFC33F">Log in</a></p>
      </div>
    </div>

    <ion-fab *ngIf="ionicForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="signUP()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>

</ion-content>