<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-amplify"></ion-icon>
      APP TECH-GAP
    </ion-title>
    <br>
    <br> <br>
    <br>
    <ion-img src="assets/logo.png"/>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">Bienvenido</ion-title>
    <p class="subtitle">Ingresa tus credenciales de usuario</p>
  </div>
  <form [formGroup]="ionicForm"  novalidate>
    <div class="ion-padding">

      <ion-item>
        <ion-input placeholder="Email" formControlName="email" class="input" />
        <ion-icon name="person-outline"></ion-icon>
        
      </ion-item>
    
      <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
          <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Debe ingresar un correo.</ion-text>
          <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Por favor ingresar email.</ion-text>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Contraseña" formControlName="password" class="input" />
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
          <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Debe ingresar Contraseña.</ion-text>
          <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput"  color="danger">La contraseña debe contener al menos un caracter</ion-text>
      </div>
    
      <div class="forgotpassword">
        <a [routerLink]="['/forgot-password']" style="color: #FFC33F">Olvidaste la contraseña?</a>
      </div>

    </div>
    <div class="signupLink">
      <p class="p">Nuevo Cliente? <a [routerLink]="['/signup']" style="color: #FFC33F">Formulario Solicitud de Registro</a></p>
    </div>

    <ion-fab *ngIf="ionicForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button  type="submit" (click)="login()" >
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>