
<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-amplify"></ion-icon>
      TECH-GAP : Ingresar Boletas
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>


<br>
<br>
  <ion-item>
    <ion-input placeholder="Monto Venta" type="email"></ion-input>
  </ion-item>


<ion-content class="ion-padding">
  <ion-grid class="calculator-grid">
    <ion-row class="calculator-row">

      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">1</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">2</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">3</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">4</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">5</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">6</ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">7</ion-button>
      </ion-col>


      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">8</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" class="calculator-button">9</ion-button>
      </ion-col>
      <ion-col size="4" >
        <ion-button expand="full" class="calculator-button" >.</ion-button>
      </ion-col>
      <ion-col size="4" >
        <ion-button expand="full" class="calculator-button" >0</ion-button>
      </ion-col>
      <ion-col size="4" >
        <ion-button expand="full" class="calculator-button" >Borrar</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-button routerLink="" expand="block" color="secondary">Afecta </ion-button>
    <br>
    <ion-button routerLink="" expand="block" color="secondary">Exenta </ion-button>
  </ion-grid>
  <br><br><br>
</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home" >
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    

    <ion-tab-button routerLink="/reportes">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tutoriales">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Tutoriales</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/administracion">
      <ion-icon aria-hidden="true" name="build-outline"></ion-icon>
      <ion-label>Administración</ion-label>
    </ion-tab-button>


 
</ion-tab-bar>

  

</ion-tabs>